* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 1rem;
  font-family: 'inter';
}

@keyframes zoomShrink {
  0%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
}


/* Header Styles */
.header {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: center;
  align-items: center;

  /* Round number styling */
  .round-number {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

/* Display Container Styles */
.display {
  margin-top: 1rem;
  height: 60vh;
  transition: 0.3s ease-in-out;

  /* Child divs within display */
  div {
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Image styling */
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

/* Rock-Paper-Scissors Styles */
.rps {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  /* Individual choice styles */
  div {
    height: 4rem;

    /* Image styling */
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

/* Fancy Board Styles */
.fancy-board {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  box-shadow: 5px 5px 15px hsl(0, 0%, 50%, 0.7);
  background: white;
  display: none;
  padding: 1rem;

  /* Header styling within fancy board */
  h1 {
    text-align: center;
  }

  /* Button styling within fancy board */
  .btn {
    display: flex;
    justify-content: center;

    button {
      border: none;
      background: none;
      margin-top: 1rem;
      box-shadow: 5px 5px 15px hsl(0, 0%, 50%, 0.7);
      padding: 0.5rem 1rem;
      font-family: 'inter';
    }
  }
}

/* Win Status Styles */
.win-status {
  height: 25rem;
  display: flex;
  justify-content: center;
  /* Image styling within win status */
  img {
    width: 100%;
    object-fit: contain;
     animation: zoomShrink 3s infinite
  }
}

/* Final Score Styles */
.final-score {
  padding: 2rem;
  font-family: 'inter';
  text-align: center;
}
